<h1>Disciplinas Do Curso</h1>

<table class="table">
  <thead>
    <tr class="text-center">
      <td>Ciclo 1</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ciclo1; index as i">
      <td>
        <a [routerLink]="['/curso', i]">{{item.nome}}</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr class="text-center">
      <td>Ciclo 2</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ciclo2; index as i">
      <td>
        <a [routerLink]="['/curso2', i]">{{item.nome}}</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr class="text-center">
      <td>Ciclo 3</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ciclo3; index as i">
      <td>
        <a [routerLink]="['/curso3', i]">{{item.nome}}</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr class="text-center">
      <td>Ciclo 4</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ciclo4; index as i">
      <td>
        <a [routerLink]="['/curso4', i]">{{item.nome}}</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr class="text-center">
      <td>Ciclo 5</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ciclo5; index as i">
      <td>
        <a [routerLink]="['/curso5', i]">{{item.nome}}</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr class="text-center">
      <td>Ciclo 6</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ciclo6; index as i">
      <td>
        <a [routerLink]="['/curso6', i]">{{item.nome}}</a>
      </td>
    </tr>
  </tbody>
</table>